<div class="container vh-100 justify-content-center align-items-center text-center">
    <div *ngIf="id" class="mt-4"><h1>Edit TODO</h1></div>
    <div *ngIf="!id" class="mt-4"><h1>Create TODO</h1></div>
    <div class="text-center justify-content-center row">
        <div>
          <div>
            <h5><span>Title</span></h5>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="model.title"
              />
          </div>
        </div>
  
        <div class="mt-4">
          <div>
            <h5><span>Description</span></h5>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="model.description"
              />
          </div>
        </div>
        <div class="text-center justify-content-evenly row">
          <a  class="btn btn-primary col-md-2 mt-4" (click)="save()">Save</a>
          <a  class="btn btn-primary col-md-2 mt-4" (click)="back()">Back</a>
        </div>
        
    </div>
</div>